#reg-service
{
    text-align:center;
    font-family: fantasy; 
}

#reg-text 
{
    font-family: cursive;
     text-align: center;
}


.mrg-top-st {
    margin-top: 20px;
}

.ng-table {
	border: 1px solid #000;
 }

.float-left {
    float: left
}

/*.float-right {
    float: right
}*/
